# Terraform state
*.tfstate
*.tfstate.*
crash.log

# Terraform plan files
*.tfplan

# .terraform directory
.terraform/

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json



# Sensitive output files
*.secret
*.pem

# IDE and editor folders
.vscode/
.idea/
*.swp

# Mac OS
.DS_Store

# Windows
Thumbs.db
